.navbar_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-inline: auto;
  box-sizing: border-box;
}
.logo {
  padding-top: 30px;
}
.icon {
  width: 102px;
  height: 32px;
  display: block;
}
.place {
  cursor: pointer;
  padding: 12px;
}
.place:hover {
  border-radius: 50px;
  background-color: #f0efef;
}
.search_box {
  width: 480px;
}

.avatar_box {
  display: flex;
  align-items: center;
}

.avatar_icon {
  display: flex;
  align-items: center;
  background-color: white;
  width: 85px;
  height: 48px;
  border: 2px solid #737f91;
  border-radius: 40px;
  padding: 0 10px;
}

.avatar_spans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.avatar_spans span {
  display: block;
  width: 16px;
  height: 2px;
  background-color: black;
  margin: 1px 0;
}

.avatar_icon img {
  width: 30px;
  height: 30px;
  background: none;
  margin-left: auto; /* Переместить изображение вправо */
}

.avatar_menu {
  position: absolute;
  top: 80px; /* Adjust based on your layout */
  right: 10px; /* Adjust based on your layout */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.avatar_menu ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.avatar_menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.avatar_menu li:hover {
  background-color: #f0f0f0;
}

.slider-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 90px;
}

.slider_category {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  padding: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.slider_category::-webkit-scrollbar {
  display: none;
}

.slider_category_card {
  flex: 0 0 auto;
  width: 150px;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider_category_card img {
  width: 24px;
  height: 24px;
}

.prev_controlls,
.next_controlls {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.prev_controlls img,
.next_controlls img {
  width: 25px;
  height: 25px;
}

.bar {
  margin-top: 30px;
  margin-left: 300px;
  width: 60%;
  background: white;
  box-shadow: 0 0 5px hsl(0 0% 78%);
  height: 55px;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  align-items: center;
}

.bar div {
  border-radius: inherit;
  padding: 0.8rem 1.5rem;
  transition: background 250ms ease;
}
.bar p {
  padding-top: 15px;
}
.bar div:hover {
  background: hsl(0 0% 94%);
}

.location {
  width: 34%;
}
.check-in,
.check-out,
.guests {
  width: 22%;
}

input[type="text"] {
  background: none;
  padding-bottom: 15px;
  border: none;
}

input[type="text"]:focus {
  outline: none;
}

::placeholder {
  font-size: 13px;
}

.guests {
  position: relative;
}
.guests span {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: #ff385c;
  color: white;
  font-size: 0.8rem;
  padding: 0.7rem;
  border-radius: 50%;
}

.bar > div {
  position: relative;
}

.bar > div::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 55%;
  background: hsl(0 0% 90%);
}

.bar > div:nth-of-type(1)::before {
  background: transparent;
}

.bar > div:hover::before {
  background: transparent;
}
